{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            {% for version in product.version_set.all %}
            {% if version.is_active %}
             <p>Версия: {{version.name}} {{version.version_number}}</p>
             {% endif %}
             {% endfor %}
          </div>
          <div class="col-6">
          <img src="{{ object.item_pic|mymedia }}" />
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.item_price }} рублей </h1>
            <ul class="list-unstyled mt-3 mb-4">

              <li>Категория {{ object.category }}</li>
              <p class="lead">Описание товара: {{ object.description }}</p>
              <li>Введен в продажу: {{ object.created_date }}</li>
              <li>Информация обновлена: {{ object.last_edited_date }}</li>

            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
          </div>
        </div>
      </div>
     </div>
{% endblock %}
